.container{
  color: pink;

}


h5{
  color: rgb(109, 98, 98); 
  font-size: 40px;
 
}

body{
  margin: 0;
  background-color:#efeff2;
  border-radius: 30px;
 
 
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.navbar-collapse{
  background-color:#d0d0d3;
  display: inline-flex;
  position:sticky;
  top: -10px;
}

.nav-link{
  
  padding-left: 18px;
  padding-right: 18px;
  color: black;
  
}

#basic-navbar-nav{
  left:0px;
  position:absolute;
}

#navbar-right{
  right:0px;
  position:absolute;
}

.home{
  background-color: #b7b8b8;
  
  border-radius: 40px;
}

div.home {
  
  text-align: center;
  position: relative;
  background:linear-gradient(to bottom right,#718780,rgb(155, 181, 178),rgb(154, 238, 209));
  padding: 80px 100px 80px 100px;
  border-radius: 40px;
  
}

.planit-name{
  color:rgb(232, 230, 230);
  font-style: Courier;
  font-size: 70px;
  
}

.sidebar-left{
  height: 931px;
  width: 300px;
  position: fixed;
  top: 21px;
  left: 5px;
  background-color: white;
}

.sidebar-right{
  height: 931px;
  width: 300px;
  position: fixed;
  top: 21px;
  right: 5px;
  background-color: white;
}

.slogan{
  font-size: 40px;
  font-style: Courier;
  font-weight: 650;
  color: rgb(86, 81, 81);
}

.planit-logo{
  height: 40vmin;
  height: 230px;
  width: 230px;
  border-radius: 40px;
}
.Top-logo{
    top:0px;
  height: 15vmin; 
margin-left: auto;  
margin-right: auto;  
border-radius: 40px;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.makeAPlanItPage {
  background-color: azure;
}
.login
{
  background-color: rgb(19, 62, 153);
}
div.makeplanit {
  text-align: center;
  position: relative;
  border-radius: 40px;
  background-image:linear-gradient(to bottom right, rgb(159, 183, 183), #4e5a59,#a5d1cf);
padding: 40px 10px 40px 10px;
  
}

p {
  padding: 10px;
  font-size: 23px;
  color: white;
}
#planitlist {
  text-align: left;
}

#title {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin: 10px;
  color: white;
  font-style: Courier;
}

input[type=text] {
  padding: 10px;
  margin: 10px 5px 5px 5px;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  background-color: white;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.06) ;
}

input[type=date] {
  padding: 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(130, 127, 127);
  background-color: white;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.06) ;
}

input[type=time] {
  padding: 40px;
  margin: 20px 5px 5px 5px;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  background-color: white;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.06) ;
}

input[type=button] {
  padding: 20px;
  margin: 10px 50px 10px 50px;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  background-color: white;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.06) ;
  font-size: 20px;
}

input[type=button]:hover {
  color: rgb(199, 197, 197);
}

input[type=submit] {
  padding: 10px;
  margin: 25px 0px 0px 0px;
  border-radius: 10px;
  border-width: 1px;
  background-color: white;
  border-color: black;
  
}

input[type=submit]:hover {
  color: rgb(199, 197, 197);
}


.summary-makeplanit {
  font-size: 17px;
  margin-bottom: 25px;
  color: white;
}

.timezone {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.06) ;
}

.users {
  height: 100px;
  padding: 10px;
}

p.date-style {
  font-size: 15px;
  margin: 0px;
}

div.profilepage {
  text-align: center;
  position: relative;
  background-image:linear-gradient(to bottom right, rgb(160, 190, 190), #454f4e,#b0e4e1) ;
  border-radius: 40px;
  padding: 40px;
}

#friendslist {
  text-align: left;
  display: grid;
  list-style: circle;
  margin: 10px 40px;
}

#friendslist li {
  font-size: 23px;
  color: white;
}

#statsbar {
  margin: 0px 10px;
  width: 100%;

}

#planitstatBox {
  border: 2px solid rgb(190, 185, 185);
  background-color: grey;
  color: white;
  margin: 10px 0px;
  padding: 20px 0px;
  text-align: center;
  border-radius: 5px;
  
}

#biggerfontstat {
  font-size: 23px;
  padding-bottom: 20px;

}


#secondtitleprofile {
  text-align: left;
  display: block;
  font-size: 30px;
  color: white;
}

#planitlist {
  text-align: left;
  display: grid;
  list-style: circle;
  margin: 0px 10px;
}

.blankprofile {
  height: 200px;
  width: 200px;
}

p ul li {
  padding: 3px;
}

#optional {
  color: whitesmoke;
  opacity: 0.75;
  display: inline;
  font-size: 15px;
}

#changeprofile {
  padding: 5px;
  margin: 10px 5px 5px 5px;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  background-color: white;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.06) ;
}

div.schedulepage {
  text-align: center;
  position: relative;
  border: 3px solid black;
  background-color: rgb(70, 70, 70);
  padding: 40px;
}

div.scheduletable {
  margin: 20px 20px 20px 20px;
  padding: 50px;
  border: 2px solid white;
}

